.action-bar{
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}
.action-bar::before{
    content: "";
    background-color: #DD2C7F;
    width: 10px;
    height: 10px;
    margin-right:10px ;
}

