.progress-bar{
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
}

.progress{
    -webkit-appearance: none;
}

::-webkit-progress-value {
    background-color:#DD2C7F;
  }
  ::-webkit-progress-bar {
    background-color: #fff;
  }
.progress-bar::-moz-progress-bar{
    background-color:#DD2C7F;
}