.skill-tec{
    display: flex;
    font-size: 25px;
    color: #fff;
    font-family: "Press Start 2p", sans-serif;
    align-items: center;
}

.skill-tec .icon{
    width: 90px;
    margin-right: 25px;
}
.skill-tec .rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-tec .title{
    margin-bottom: 10px;
}